@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 480px) {
  #mainNavbar {
    height: 60px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mainNavbar:before {
    height: 60px;
    width: 100vw;
  }
  #mainNavbar #navbar {
    width: 100vw;
    height: 60px;
  }
  #mainNavbar #navbar #ullist {
    display: none;
  }
  #mainNavbar #navbar #img {
    display: none;
  }
  #mainNavbar #navbar button {
    display: none;
  }
  #mainNavbar #navbar span {
    display: block;
  }
  #bannerSection {
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #bannerSection #bannerContainer {
    height: 300px;
    width: 100%;
  }
  #bannerSection #bannerContainer:before {
    height: 300px;
    width: 100%;
    background: url("../images/small avatar.svg") no-repeat center center;
    background-size: 200px;
  }
  #bannerSection h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
    text-shadow: none;
  }
  #bannerSection h3 {
    font-size: 0.9em;
    margin: 0 0 10px 0;
    text-decoration: none;
  }
  #bannerSection p {
    font-size: 0.3em;
    margin: 0 0 10px 0;
    width: 100px;
  }
  #bannerSection button {
    padding: 4px 8px;
    margin: 10px 0 0 10px;
    font-size: 0.5em;
  }
  #formSection {
    height: 600px;
    width: 100%;
  }
  #formSection #formContainer {
    height: 600px;
    width: 100%;
  }
  #formSection #formContainer:before {
    height: 600px;
    width: 100%;
  }
  #formSection #formContainer h1 {
    height: 20px;
    font-size: 1em;
    margin: 10px 0 20px 0;
  }
  #formSection #formContainer div:nth-child(2) {
    height: 350px;
    width: 230px;
  }
  #formSection #formContainer #form {
    height: 100%;
    padding: 0;
    width: 190px;
  }
  #formSection #formContainer #form #radiobtn {
    height: 20px;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #formSection #formContainer #form #radiobtn input {
    margin: 0;
    width: 13px;
    height: 14px;
  }
  #formSection #formContainer #form #radiobtn label {
    margin: 0;
  }
  #formSection #formContainer #form label {
    font-size: 0.5em;
    margin: 10px 0  0 5px;
  }
  #formSection #formContainer #form input {
    margin: 0 0 10px 5px;
    width: 150px;
    height: 23px;
    font-size: 0.7em;
  }
  #formSection #formContainer #form button {
    margin: 0;
    width: 80px;
  }
  footer {
    width: 100vw;
  }
}
/*# sourceMappingURL=responsive.css.map */