@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


a,a:hover{
    text-decoration: none;
}



ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gridcenter{
    display: grid;
    place-items: center;
}

// ------------------->   mobile phone  <-------------------

@media screen and (max-width: 480px){

    
    
    #mainNavbar {
        height: 60px;
        width: 100vw;
        @include flexcenter;
        &:before{
            height: 60px;
            width: 100vw;
        }
        
        #navbar{
            width: 100vw;
            height: 60px;
            
            #ullist{
                display: none;
                height: 200px;
                position: absolute;
                inset: 0 0 0 0;
                width: 100vw;
                margin: 0 0 0 0;
                padding: 25% 25% 25% 25% ;
                z-index: 32;
                
                #ullist2{
                    @include flexcenter;
                    flex-direction: column;
                }

                li{
                    background-color: #fff;
                    border-radius: 20px;
                    margin: 0 0 10px 0;
                }

                a{
                    color: black;
                    font-size: 0.9em;
                    font-weight: bold;

                }

            }

            #img{
                display: none;
            }
            
            button{
                display: none;
            }

            span{
                display: block;
                cursor: pointer;
            }
            
            
        }
        
        
        
        
    }

        #bannerSection{
            height: 300px;
            width: 100%;
            margin: 0;
            padding: 0;

            #bannerContainer{
                height: 300px;
                width: 100%;
                // display: block;
                // display: flex;
                // padding: 5rem 13rem 5rem 1em;

                &:before{
                    height: 300px;
                    width: 100%;
                    background: url("../images/small\ avatar.svg") no-repeat center center;
                    background-size: 200px;
                }
            }

            h1{
                font-size: 30px;
                margin: 0 0 10px 0;
                text-shadow: none;
            }

            h3{
                font-size: 0.9em;
                margin: 0 0 10px 0;
                text-decoration: none;

            }

            p{
                font-size: 0.3em;
                margin: 0 0 10px 0;
                width: 100px;
            }

            button{
                padding: 4px 8px;
                margin: 10px 0 0 10px;
                font-size: 0.5em;
                
            }

        }


    #formSection{
        height: 600px;
        width: 100%;


        #formContainer{
            height: 600px;
            width: 100%;
            &:before{
                height: 600px;
                width: 100%;

                
            }


            h1{
                height: 20px;
                font-size: 1em;
                margin: 10px 0 20px 0;
                
            }

            
        

            div:nth-child(2){
                height: 350px;
                width: 230px;
            }

            #form{
                // padding: 20px 0 0 30px;
                height: 100%;
                padding: 0;
                width: 190px;

                #radiobtn{
                    height: 20px;
                    width: 100px;
                    @include flexcenter;

                    input{
                        margin:  0;
                        width: 13px;
                        height: 14px
                    }

                    label{
                        margin: 0 ;
                    }
                }

                label{
                    font-size: 0.5em;
                    margin: 10px 0  0 5px;

                    
                }

                input{
                    margin: 0 0 10px 5px;
                    width: 150px;
                    height: 23px;
                    font-size: 0.7em;
                }

                button{
                    margin: 0;
                    width: 80px;
                }
            }
        }
    }

    footer{
        width: 100vw;
    }
}


// tab display
@media (max-width: 666px) and (min-width: 481px){
    #navbar{
        button{
            display: none;
        }
    }
}

@media (max-width: 769px) and (min-width: 481px){
    
    #mainNavbar{

        #navbar{
            width: 90vw;
            #ullist{
                margin-left: 10px;
            }

            button{
                margin:0 0 0 10px;
            }
        }
    }
}


@media (max-width: 998px) and (min-width: 769px){
    #mainNavbar{
        #navbar{
            #ullist{
                    margin-left: 10px;
            }
        }

    }
}