@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


a,a:hover{
    text-decoration: none;
}



ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gridcenter{
    display: grid;
    place-items: center;
}

// ------------------->   mobile phone  <-------------------

@media screen and (min-width: 280px) and (max-width: 480px){

    #html{
        width: 490px;
    }
    
    #mainNavbar {
        height: 60px;
        width: 490px;
        &:before{
            height: 60px;
            width: 490px;
        }
        
        #navbar{
            width: 400px;
            height: 60px;
            
            #ullist{
                display: none;
            }

            #img{
                background-image: url("../images/logo/small\ logo.svg");
                border-radius: none;
                padding: 0;
                border: none;
                width: 30px;
                height: 30px;
            }
            
            button{
                margin: 0 100px 0 100px;
                padding: 0;
                width: 120px;
                font-size: 10px;
                height: 20px;
                
                &:hover{
                    background: rgb(228, 228, 18);
                }
            }

            span{
                display: block;
            }
            
            
        }
        
        
        
        
    }

        #bannerSection{
            height: 300px;
            width: 490px;
            margin: 0;
            padding: 0;

            #bannerContainer{
                height: 300px;
                width: 490px;
                // display: block;
                // display: flex;
                padding: 5rem 13rem 5rem 1em;

                &:before{
                    height: 300px;
                    width: 490px;
                    background: url("../images/small\ avatar.svg") no-repeat center center;
                    background-size: 200px;
                }
            }

            h1{
                font-size: 2em;
                margin: 0 0 10px 0;
                text-shadow: none;
            }

            h3{
                font-size: 0.9em;
                margin: 0 0 10px 0;
                text-decoration: none;
                width: 180px;

            }

            p{
                font-size: 0.3em;
                margin: 0 0 10px 0;
                width: 100px;
            }

            button{
                padding: 4px 8px;
                margin: 10px 0 0 10px;
                font-size: 0.5em;
                
            }

        }


    #formSection{
        height: 600px;
        width: 490px;


        #formContainer{
            height: 600px;
            width: 490px;
            &:before{
                height: 600px;
                width: 490px;

                
            }


            h1{
                height: 20px;
                font-size: 1em;
                margin: 20px 0 20px 0;
                
            }

            
        

            div:nth-child(2){
                height: 350px;
                width: 500px;
            }

            #form{
                padding: 20px 0 0 30px;
                height: 350px;

                #radiobtn{
                    height: 20px;
                    width: 150px;
                    @include flexcenter;

                    input{
                        margin: 5px 10px 0 0;
                        width: 10px;
                    }

                    label{
                        margin: 0 57px 0 0;
                    }
                }

                label{
                    font-size: 0.5em;
                }

                input{
                    margin: 0 0 10px 0;
                    width: 150px;
                    height: 22px;
                    font-size: 0.7em;
                }

                button{
                    margin: 10px 20px 0 30px;
                }
            }
        }
    }

    footer{
        width: 490px;
    }
}


