@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');



*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,a:hover{
    text-decoration: none;
}



ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gridcenter{
    display: grid;
    place-items: center;
}

// ------------------->   mobile phone  <-------------------

@media (min-width: 320px) and (max-width: 480px){

    
    #mainNavbar {
        height: 40px;
        width: 100vw;
        &:before{
            height: 40px;
            width: 100vw;
        }
        
        #navbar{
            width: 100vw;
            height: 40px;
            display: flex;
            

            #img{
                background-image: url("../images/logo/small\ logo.svg");
                border-radius: none;
                padding: 0;
                border: none;
                width: 30px;
                height: 30px;
            }
            
            button{
                margin: 0 70px 0 70px;
                padding: 0;
                width: 120px;
                font-size: 10px;
                height: 20px;
                
                &:hover{
                    background: rgb(228, 228, 18);
                }
            }

            span{
                display: block;
            }
            
            
        }
        
        
        #ullist{
            display: none;
        }
        
    }

        #bannerSection{
            @include flexcenter;
            height: 200px;
                width: 100vw;

            #bannerContainer{
                height: 200px;
                width: 100vw;
                display: flex;
                align-items: center;
                padding: 2rem 10rem 2rem 0em;
                &:before{
                    height: 200px;
                    width: 100vw;
                    background: url("../images/small\ avatar.svg") no-repeat center center;
                    background-size: 200px;
                }
            }

            h1{
                font-size: 1em;
                margin: 0 0 10px 0;
            }

            h3{
                font-size: 0.5em;
                margin: 0 0 10px 0;

            }

            p{
                font-size: 0.3em;
                margin: 0 0 10px 0;
                width: 100px;
            }

            button{
                padding: 1px 3px;
                margin-top: 10px;
                font-size: 0.5em;
                
            }

        }


    #formSection{
            display: none;
    }
}