@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,a:hover{
    text-decoration: none;
}



ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gridcenter{
    display: grid;
    place-items: center;
}


// navigation header
#mainNavbar{
    @include flexcenter;
    height: 12vh;
    width: 100vw;
    inset: 0 0 0 0;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background: rgb(28, 146, 146);
        height: 12vh;
        width: 100vw;
        z-index: -1;

    }


#navbar{
        @include flexcenter;
        height: 20px;

        div:nth-child(2){
             background: rgba(11, 238, 238, 0.472);
            // border: 0.1px solid rgb(99, 96, 96);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            border-radius: 10px;
            margin-left: 400px;
        }
        
        #img{
            background-image: url("../images/logo/logo.svg");
            border-radius: 100%;
            height: 40px;
            width: 40px;
            padding: 5px;
            // opacity: 1; 
            border: 0.5px solid black
        }

        ul{
            @include flexcenter;
            // width: 400px;
            height: 40px;
            justify-content: space-around;

            li{
                padding: 5px;
                
                a{
                    color: rgb(255, 255, 255);
                    border-radius: 10px;
                    padding: 5px 5px;
                    margin: 5px 8px;
                    transition: .5s;

                &:hover{
                    background-color: rgb(28, 146, 146);
                }
            }   
            }  
        }
        button{
            outline: none;
            border: none;
            border-radius: 10px;
            padding: 8px;
            margin-left: 40px; 
            background: yellow;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            font-weight: bold;
            color: rgb(95, 92, 92);
            transition: .5s;
            &:hover{
                background: rgb(228, 228, 18);
            }
        }
        span{
            display: none;
        }
    }
}






// banner section
#bannerSection{
    @include flexcenter;
    border-top: 1px solid rgb(122, 118, 118);
    border-bottom: 1px solid rgb(122, 118, 118);

}   

#bannerContainer{
    height: 400px;
    width: 1147px;
    position: relative;
    inset: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(233, 218, 218, 0.301);
    &:before{
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        height: 400px;
        width: 1147px;
        background: url("../images/avatar\ png.png") no-repeat ;
        opacity: 0.7;
        z-index: -1;    
    }

    h1{
        font-size: 6em;
        color: rgb(26,117,187);
        text-shadow: 2px 2px 2px rgb(100, 96, 96);
        font-family: Chromate;
    }

    h3{
        text-decoration: underline 2px;
    }
    P{
        font-size: 0.9em;
        width: 400px;
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
    }

    button{
        padding: 3px 8px;
        margin-top: 50px;
        font-size: 1.2em;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: 10px;
        background: rgb(28,146,146);
    }
}


// form section
#formSection{
    @include flexcenter;

        #formContainer{
            @include flexcenter;
            position: relative;
            height: 600px;
            width: 1147px;
            flex-direction: column;
            position: relative;
            inset: 0 0 0 0;
            padding: 0 0 80px 0;
            background: rgba(218, 214, 214, 0.514);
            &:before{
                content: "";
                position: absolute;
                inset: 0 0 0 0;
                height: 600px;
                width: 1147px;
                background: url("../images/meditation.png") no-repeat center center;
                z-index: -1;
                }
    }
    
    h1{
        margin: 50px 0 20px 0;

    }

    div:nth-child(2){
        // background: rgba(233, 230, 230, 0.315);
        @include flexcenter;
        height: 400px;
        width: 1147px;
        
    }

    #form{
        flex-direction: column;
        background-color: rgba(211, 211, 211, 0.349);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        align-items: left;
        display: flex;
        // display: grid;
        // grid-template-columns: 2fr;
        // grid-template-rows: 2fr 2fr ;
        // width: 250px;
        padding: 15px 0px 15px 40px;
        border-radius: 20px;

         #radiobtn{
             align-items: left;
             width: 250px;
             
             input{
                 width: auto;
                 margin-right: 10px ;
             }
        }
        

        input{
            margin: 10px 20px 10px 0;
            border-radius: 5px;
            outline: none;
            border: none;
            border-bottom: 5px solid yellow;
            padding: 0 0 0 10px;
            width: 350px;
        }

        

        button{
            outline: none;
            border: none;
            border-radius: 20px;
            margin: 20px 0 20px 80px;
            width: 150px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            padding: 5px 5px 5px 5px;
            background: rgb(20,189,189);
        }
        }
        
    }
